@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
